<%include templates/header.ejs %>




<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div class="attendees">
    <table>
        <tr>
            <th>aanwezigen</th>
        </tr>
        <tr><td>Jan</td></tr>
        <tr><td>Piet</td></tr>
        <tr><td>Klaas</td></tr>


    </table>

</div>

<% include templates/footer.ejs %>
