<%include templates/header.ejs %>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome on Eat Together!</h2>
                <p>To understand our app, please watch the movie.</p>


            <iframe width="700" height="400"
                    src="http://www.youtube.com/embed/GmG32bjiJbk">
            </iframe>

                </div>
        </div>
    </div>
</div>
<% include templates/footer.ejs %>
