<%include templates/header.ejs %>

<div class="container">

    <table class="table table-bordered table_style" >
        <thead>
            <th>Datum</th>
            <th>Day</th>
            <th>Cock</th>
            <th>#People</th>
        </thead>

        <tbody>
            <tr>
                <td>11-01</td>
                <td>Maandag</td>
                <td>Bart</td>
                <td>8</td>
            </tr>

            <tr>
                <td>12-01</td>
                <td>Dinsdag</td>
                <td>Barrie</td>
                <td>10</td>
            </tr>

            <tr>
                <td>13-01</td>
                <td>Woensdag</td>
                <td>Bart</td>
                <td>8</td>
            </tr>

            <tr>
                <td>12-01</td>
                <td>Donderdag</td>
                <td>Daan</td>
                <td>9</td>
            </tr>

        </tbody>
    </table>
</div>
<% include templates/footer.ejs %>