<%include templates/header.ejs %>

<div class="container">

    <table class="table table-bordered table_style" >
        <thead>
            <th>Datum</th>
            <th>Day</th>
            <th>Cock</th>
            <th>#People</th>
        </thead>

        <tbody>

        </tbody>
    </table>
</div>
<% include templates/footer.ejs %>